/*Rexall Colors*/

.RexallGreenLight1 {
	background-color: #40C2BF;
}


.RexallGreenLight2{
	background-color: #C8EDBB;
}

.RexallGreenDark1 {
	background-color: #147B74;
}


/*Navigation Bar*/
.nav-item{

}
.nav-item:hover{
	scale: 1.10;
}
.navbar-dark .navbar-nav .nav-link.disabled {
	color: yellow;
}



/*Jumbotron Custom*/
.jumbotron{
	border-radius: 20px;
	box-shadow: 0px 7px 19px -4px rgba(0,0,0,0.81);
}


/*Accordion*/
/*Insurance Drop Down*/
.accordion{
	border-radius: 20px;
	box-shadow: 0px 7px 19px -4px rgba(0,0,0,0.81);
}


/*Faxes Copy Alert*/

.alert{
	opacity: 0;
	animation-name: FadeOut;
	animation-duration: 3.1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}


.pic{
  height: 500px;
  width: 100%;
  border: 1px solid grey;
  background-color: grey;
}

@keyframes FadeOut {
	0%{
		opacity: 1.0;
	}
	100% {
		opacity: 0;
	}
}



